body,html {
    height:initial;
}

.md-icon-button.small {
    min-height:0px;
    height:32px;
    min-width:0px;
    width:32px;
    padding:0px;
}

.wub-video-controls {
    margin-top:-24px;
    background-color:rgba(0,0,0,0.5);
    position:relative;
    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,1+100 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

md-slider ._md-track {
    background-color:rgba(255,255,255,0.38);
}

#EndPlaybackCheckbox {
    margin-bottom:0px;
    margin-left:10px;
}

#EndPlaybackCheckbox:not(.md-checked) ._md-icon{
    background-color:white;
}
#EndPlaybackCheckbox ._md-label {
    color:white;
    font-size: 10pt;
    margin-left: 23px;
}

.wub-editor-selectRange > .ui-slider {
    margin-left:12px;
    margin-right:4px;
    height:0.4em;
}
.wub-editor-selectRange > .ui-slider .ui-slider-range {
    background:initial;
    background-color:orange;
}
.wub-editor-selectRange > .ui-slider .ui-slider-handle {
    height:0.8em;
    width:0.6em;
    background:initial;
    /*background-color:green;*/
    background-color:white;
}
.wub-editor-selectRange > .ui-slider .ui-slider-handle:last-child {
    margin-left:-0.1em;
}